<table class="para-table">
    <tr>
        <td>
            <p>HTML is used to create the structure of web pages. It defines elements like text, images, and links.</p>
        </td>

        <td>
            <p>CSS is used to style web pages. It controls colors, fonts, layouts, and overall design.</p>
        </td>

        <td>
            <p>JavaScript is used to add interactivity to web pages such as form validation and animations.</p>
        </td>
    </tr>
</table>
