body {
    font-family: Arial;
	font-size:16px;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    text-align: center;
}

td {
    width: 100px;
    height: 100px;
    padding: 15px;
}

.middle {
    width:50px;
	height:50px;
}

.middle a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: black;
}

.middle a:hover {
    background-color: yellow;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #CD7F32;
    overflow: hidden;
}

li {
    float: left;
    margin-left: 90px;
}

li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: black;
}

li a:hover {
    background-color: yellow;
}

.top {
    height: 100px;
}

.footer {
    background-color: pink;
}

.Para1 {
	font-size:16px;
}

.Para2 {
    font-size:16px;
}
.Div1{
	height:50px;
}