body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 80%;
    margin: auto;
}

.box {
    border: 1px solid black;
    padding: 15px;
    background-color: white;
    text-align: center;
}

/* Header */
.logo img {
    width: 80px;
}

.title {
    background-color: #add8e6;
}

/* Navbar */
.navbar {
    grid-column: span 3;
    background-color: #333;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

/* Form */
.form {
    grid-column: span 2;
    background-color: #ffe4e1;
}

/* Footer */
.footer {
    background-color: #ccc;
}
